.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin: 58px auto 0 147px;
  }
  
  .u-section-1 .u-text-2 {
    margin: 57px 36px 0;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin: 36px 177px 0 135px;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin: 48px auto 0 40px;
  }
  
  .u-section-1 .u-btn-1 {
    font-size: 0.9375rem;
    border-style: solid;
    font-weight: 700;
    background-image: none;
    margin: 53px auto 60px 461px;
    padding: 10px 42px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      width: auto;
      margin-left: 68px;
      margin-right: 68px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: auto;
      margin-left: 19px;
    }
  
    .u-section-1 .u-text-3 {
      width: 828px;
      margin-right: 95px;
      margin-left: 18px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 23px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 793px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
      margin-top: 62px;
      margin-left: 38px;
      margin-right: 38px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: 53px;
      margin-left: 18px;
      margin-right: 18px;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
      margin-top: 38px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-4 {
      width: auto;
      margin-top: 51px;
      margin-left: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 736px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
      margin-left: 28px;
      margin-right: 28px;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1rem;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 850px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  }